<link href="/assets/css/AcesUp.css" rel="stylesheet">
<link href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.3/angular-material.min.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.3/angular-material.js"></script>
<script type="text/javascript" src="https://code.angularjs.org/1.5.0-rc.2/angular-animate.js"></script>
<script type="text/javascript" src="https://code.angularjs.org/1.5.0-rc.2/angular-aria.js"></script>
<script type="text/javascript" src="/assets/js/app.js"></script>
<script type="text/javascript" src="/assets/js/AcesUpController.js"></script>

<body ng-app="AcesUp" ng-controller="AcesUpController">
    <div class="wrapper">
        <div id="header">
            <h1 class="md-display-3">
                Aces Up
            </h1>
        </div>
        <div id="board">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <span>
                        Score: {{score}}
                    </span>
                    <span flex></span>
                    <md-button ng-click="resetGame()">
                        NEW GAME
                    </md-button>
                </div>
            </md-toolbar>
            <div id="columnWrapper">
                <div class="column">
                    <div class="card" ng-repeat="card in gameState.cols[0]">
                        {{card.value}} - {{card.suit}}
                    </div>
                </div>
                <div class="column">
                    <div class="card" ng-repeat="card in gameState.cols[1]">
                        {{card.value}} - {{card.suit}}
                    </div>
                </div>
                <div class="column">
                    <div class="card" ng-repeat="card in gameState.cols[2]">
                        {{card.value}} - {{card.suit}}
                    </div>
                </div>
                <div class="column">
                    <div class="card" ng-repeat="card in gameState.cols[3]">
                        {{card.value}} - {{card.suit}}
                    </div>
                </div>
            </div>
        </div>

        <div class="content-main">
            <button ng-click="dealCards()">Deal</button>
            <BR>Remove from:
            <md-button ng-click="removeCard(0)">Column1</md-button>
            <md-button ng-click="removeCard(1)">Column2</md-button>
            <md-button ng-click="removeCard(2)">Column3</md-button>
            <md-button ng-click="removeCard(3)">Column4</md-button>

            <input type="text" ng-model="srcCol"/> to
            <input type="text" ng-model="destCol"/>
            <button ng-click="moveCard(srcCol, destCol)">Move</button>
        </div>
    </div>
</body>
</html>
